<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <style>
        .location-center{
            text-align: center
        }
        .color-red{
            color: red;
        }
    </style>
</head>
<body>

<form class="location-center" th:method="POST" th:action="@{/user/postUserSignUp}" th:object="${newUser}" >
    <h1>Sign Up</h1>
    <br>
    <br>
    <label for="aName">Enter account name: </label>
    <input type="text" th:field="*{accountName}" id="aName">
    <div class="color-red" th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">Name error</div>
    <br>
    <br>
    <label for="aPassword">Enter account password: </label>
    <input type="password" th:field="*{accountPassword}" id="aPassword">
    <div class="color-red" th:if="${#fields.hasErrors('accountPassword')}" th:errors="*{accountPassword}">Password error</div>
    <br>
    <br>
    <label for="aBio">Enter account bio: </label>
    <input type="text" th:field="*{accountBio}" id="aBio">
    <div class="color-red" th:if="${#fields.hasErrors('accountBio')}" th:errors="*{accountBio}">Bio error</div>
    <br>
    <br>
    <label for="aAge">Enter account age: </label>
    <input type="text" th:field="*{accountAge}" id="aAge">
    <div class="color-red" th:if="${#fields.hasErrors('accountAge')}" th:errors="*{accountAge}">Age error</div>
    <br>
    <br>
    <label for="aPhoto">Enter account photo: </label>
    <input type="text" th:field="*{accountPhoto}" id="aPhoto">
    <div class="color-red" th:if="${#fields.hasErrors('accountPhoto')}" th:errors="*{accountPhoto}">Photo error</div>
    <br>
    <br>
    <input type="submit" value="Sign up!">
</form>

</body>
</html>