<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Item</title>
    <style>
        .location-center{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="location-center">
    <h1>Change Product</h1>

    <form th:action="@{/store/patchEditProduct/{itemId}(itemId=${itemId})}" th:method="PATCH" th:object="${wantedProduct}">
        <br>
        <br>
        <label for="pName">Enter name: </label>
        <input type="text" th:field="*{name}" id="pName">
        <br>
        <br>
        <label for="aD">Enter description: </label>
        <input type="text" th:field="*{description}" id="aD">
        <br>
        <br>
        <label for="aPrice">Enter price: </label>
        <input type="text" th:field="*{price}" id="aPrice">
        <br>
        <br>
        <label for="aPhoto">Enter photo: </label>
        <input type="text" th:field="*{photo}" id="aPhoto">
        <br>
        <br>
        <label for="aCountry">Enter Country: </label>
        <input type="text" th:field="*{country_id}" id="aCountry">
        <br>
        <br>
        <label for="aCity">Enter City: </label>
        <input type="text" th:field="*{city_id}" id="aCity">
        <br>
        <br>
        <label for="pColor">Enter color: </label>
        <select th:field="*{color_id}" id="pColor">
            <option th:each="color : ${listWithColors}" th:value="${color}" th:text="${color}"></option>
        </select>
        <br>
        <br>
        <label for="aFirm">Enter Firm: </label>
        <input type="text" th:field="*{firm_id}" id="aFirm">
        <br>
        <br>
        <label for="pType">Enter type: </label>
        <select th:field="*{type_id}" id="pType">
            <option th:each="type : ${listWithTypes}" th:value="${type}" th:text="${type}"></option>
        </select>
        <br>
        <br>
        <input type="submit" value="Save!">
    </form>


</div>
</body>
</html>