<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User-sign-in</title>
</head>
<body>
<h1>Sign In user!</h1>
<form th:method="GET" th:action="@{/market}" th:object="${someUser}">
    <br>
    <label for="username">Enter your username: </label>
    <input type="text" th:field="*{accountName}" id="username">
    <br>
    <br>
    <label for="password"> Enter password: </label>
    <input type="text" th:field="*{accountPassword}" id="password">
    <br>
    <br>
    <input type="submit" value="Sign in!">
</form>
</body>
</html>