<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User-sign-up</title>
</head>
<body>
<h1>Sigh Up user!</h1>

<form th:method="POST" th:action="@{/store}" th:object="${account}">
    <br>
    <br>
    <label for="aN">Enter account name: </label>
    <input th:type="text" th:field="*{accountName}" id="aN">
    <br>
    <br>
    <label for="aP">Enter account password: </label>
    <input th:type="text" th:field="*{accountPassword}" id="aP">
    <br>
    <br>
    <input type="submit" value="SignUp!">
</form>

</body>
</html>