<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Picture</h1>
<h2>Choose version:</h2>
<form>
    <input type="checkbox" id="option1" name="option1" value="option1">
    <label for="option1">version 1</label><br>
    <input type="checkbox" id="option2" name="option2" value="option2">
    <label for="option2">version 2</label><br>
    <input type="checkbox" id="option3" name="option3" value="option3">
    <label for="option3">version 3</label><br><br>
</form>

<h2>Choose version:</h2>
<p id="result"></p>

<script>
    // отримуємо всі чекбокси за їх ідентифікаторами
    const option1 = document.getElementById("option1");
    const option2 = document.getElementById("option2");
    const option3 = document.getElementById("option3");

    // коли будь-який з чекбоксів змінюється, викликається ця функція
    function showSelected() {
        let result = "";
        // перевіряємо, які чекбокси обрані і додаємо їх в рядок для виводу
        if (option1.checked) {
            result += "version 1<br>";
        }
        if (option2.checked) {
            result += "version 2<br>";
        }
        if (option3.checked) {
            result += "version 3<br>";
        }
        // виводимо результат на сторінку
        document.getElementById("result").innerHTML = result;
    }

    // призначаємо функцію showSelected() для виклику при зміні будь-якого з чекбоксів
    option1.addEventListener("change", showSelected);
    option2.addEventListener("change", showSelected);
    option3.addEventListener("change", showSelected);
</script>

</body>
</html>