<!DOCTYPE html>
<html lang="en">
  <head>
    <title>test</title>
    <style>
      .text1{color: #acd7e5;}
      .text2{color:lightpink;}
      .text3{color:lightgreen;}
      .text-size1{font-size:60px}
      .text-size2{font-size:40px}
      .text-size3{font-size:20px}
      .text-location-right{text-align: right}
      .text-location-center{text-align: center}
    </style>

  </head>
  <body>
    <h1 class="text1 text-size1">Hello 1</h1>
    <h1 class="text2 text-size2 text-location-right">Hello 2</h1>
    <h1 class="text3 text-size3 text-location-center">Hello 3</h1>
  </body>
</html>




