<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <style>
        .location-center{
            text-align: center;
        }
        .padding-top-20{
            padding-top: 20px;
        }
    </style>
</head>
<body>

<div class="location-center">
    <div>
        <h1>Basket</h1>
    </div>
    <div th:each="item : ${productList}">
        <div class="padding-top-20">
            <form th:action="@{/store/{userId}/lookItem/{itemId}(userId=${userId}, itemId=${item.getId()})}">
                <input type="submit" th:value="${item.getName() + ', ' + item.getPrice() + '$'}">
            </form>
        </div>
    </div>
</div>


</body>
</html>